.search-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 60px;
  padding: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.search-bar:has(> input:focus) {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 1rem;
  background: transparent;
  outline: none;
  text-transform: capitalize;
}

.search-bar button {
  background: #fff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #0069d9;
}

.search-bar button i {
  font-size: 1.2rem;
}