.weather-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    position: relative;
    width: 50%;
}

.map img {
    width: 100%;
}

.location-marker {
    position: absolute;
    left: calc(2.3488% - 10px);
    top: calc(48.8534% - 20px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    transform: translate(-50%, -50%);
}

.location-info {
    padding: 20px;
    text-align: center;
}

.current-weather {
    margin-top: 40px;
    display: flex;
}

.icon {
    background: #20c788;
    border-radius: 5px;
    padding: 30px;
}

.temperature,
.feels-like,
.wind {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px;
    padding: 10px 30px;
    background: #f5f5f5;
    border-radius: 5px;
    margin-left: 10px;
}

.loading {
    font-size: 1.5rem;
    padding: 40px 0;
    font-weight: 600;
}